DATABASE_URL="postgresql://username:password@host/database?sslmode=require"

GIPHY_API_KEY="your-giphy-api-key"
TWITCH_CLIENT_ID="your-twitch-client-id"
TWITCH_CLIENT_SECRET="your-twitch-client-secret"

GA_MEASUREMENT_ID="G-XXXXXXXXXX"